.SubTabsStyle{
  font-size: 13px;
  display: flex;
}

.Selecionado{
  background-color: #2690FA;
  font-weight: bold;
}

#border {
  border: 0.5px solid silver;
  border-radius: 2px;
  width: auto;
  height: 30px;
}

#inputStyle{
  height: 30px;
  width: 1000px;
}

#MainTabStyle{
  display: flex;
  background-color: #F2F1F1;
}

#subTabSearchBar{
  position: absolute;
  margin: 11px;
}

#infoFixaStyle{
  position: absolute;
  margin-top: 3%;
}
